.aboutTrailer {
    border: 5px solid black;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    max-width: 700px;
}

.district {
    color: #2E7DAF;
}

.estatesTrailer {
    border: 5px solid black;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}