.section {
    position: relative;
  }

  #about {
    background:url("/images/bg/AbstractFuturistic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }