.btn button {
    width: 210px;
    height: 40px;
    background: teal;
    border: none;
    box-shadow: 1px 1px gray;
    -webkit-font-smoothing: antialiased;
    transition: all 0.2s ease;
    transition: all 0.2s ease;
}