/* Mint button styles */
.btn button {
    width: 210px;
    height: 40px;
    background: teal;
    border: none;
    box-shadow: 1px 1px gray;
    -webkit-font-smoothing: antialiased;
    transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* isAuthenticated message on landing page */
.balances div {
    font-weight: normal;
    font-size: 18px;
}

/* Arrow button in collapse text */

.arrow svg {
    width: 20px;
    height: 20px;
    margin: auto;
}