.connect button {
    background-color: #ffffffbb;
    box-shadow: -1px 3px #501e50;
    /* transition:ease-in; */
    height: 40px;
    margin: 0 16px;
    white-space: nowrap;
    align-items: center;
    border-radius: 16px;
    border: 2px solid transparent;
    padding: 4px 16px;
    transition: all 0.1s ease-out;
  }
  
  .connect button:active {
    box-shadow: none;
    width: 95%;
    height: 90%;
  }